<div class="navbar navbar-inverse navbar-fixed-top" style="    background-color: #393e46    ">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/Files/LOGO/logo.png" width="70" height="40" class="d-inline-block align-items-center">
                @Html.ActionLink("Inventario", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
        </div>
        <br />
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                @if (Session.Count > 0)
                {
                    int userId = Int32.Parse(Session["userId"].ToString());
                    IEnumerable<InventarioUCaldas.GUI.Models.Seguridad.FormModel> list = InventarioUCaldas.GUI.Helpers.Menu.GetMenuForms(userId);

                    @*
            foreach (var menu in list)
            {
                <li><a href="@menu.Url">@menu.Name</a></li>
            }
                    *@
                    <li>@Html.ActionLink("Marca", "Index", "Marca")</li>
                    <li>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Tipo Producto", "Index", "TipoProducto")</li>
                    <li>@Html.ActionLink("Sede", "Index", "Sede")</li>
                    <li>@Html.ActionLink("Edificio", "Index", "Edificio")</li>
                    <li>@Html.ActionLink("Piso", "Index", "Piso")</li>
                    <li>@Html.ActionLink("Espacio", "Index", "Espacio")</li>
                    <li>@Html.ActionLink("Persona", "Index", "Persona")</li>
                    <li>@Html.ActionLink("Producto", "Index", "Producto")</li>
                    <li>@Html.ActionLink("Role", "Index", "Role")</li>
                    <li>@Html.ActionLink("Usuario", "Index", "User")</li>

                    <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                    <li>@Html.ActionLink("Cambio de contraseña", "ChangePassword", "User")</li>

                }
                else
                {
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Iniciar sesión", "Login", "User")</li>
                }
            </ul>
        </div>
    </div>
</div>


    