@model IEnumerable<InventarioUCaldas.GUI.Models.Ubicacion.ModeloPisoGUI>


@{
    ViewBag.Title = "Index";
}

<h2>Piso</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<input type="text" name="filtro" placeholder="Buscar" />
<input type="submit" name="submit" value="buscar" />
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEdificio)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEdificio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
@Html.Partial("_FooterPagedList")