@model IEnumerable<InventarioUCaldas.GUI.Models.Parametros.ModeloMarcaGUI>


@{
    ViewBag.Title = "Index";
}

<h2>Marca</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <p>
        Buscar Registro: @Html.TextBox("filtro", ViewBag.FilterValue as string)
        <input type="submit" class="btn btn-light" value="filtro" />
    </p>

}

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<center>
    @Html.Partial("_FooterPagedList")
</center>
