@model InventarioUCaldas.GUI.Models.Producto.ModeloTipoProductoGUI

@{
    ViewBag.Title = "Delete";
}

<br />
<h2>ELIMINAR TIPO PRODUCTO</h2>

<br />
<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>

    <hr />
    @Html.Partial("_Mensajes")
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <button type="button" class="btn btn-warning">@Html.ActionLink("Atrás", "Index")</button>
    </div>
    }
</div>