@model IEnumerable<InventarioUCaldas.GUI.Models.Parametros.ModeloCategoriaGUI>


@{
    ViewBag.Title = "Index";
}

<h2>Categoria</h2>

<button type="button" class="btn btn-success">@Html.ActionLink("Create New", "Create")</button>


@using (Html.BeginForm())
{
    <center>
        <p>
            Buscar Categoria: @Html.TextBox("filtro", ViewBag.FilterValue as string)
            <input type="submit" class="btn btn-light" value="Buscar" />
        </p>

        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
}

<center>
    @Html.Partial("_FooterPagedList")
</center>
