@model InventarioUCaldas.GUI.Models.Ubicacion.ModeloEspacioGUI

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<br />
<h2>DETALLES ESPACIO</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePiso)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    <button type="button" class="btn btn-warning">@Html.ActionLink("Atrás", "Index")</button>
</p>

